<admin-navbar></admin-navbar>
<div class="container bg-dark mt-5 p-4">
  <div class="alert alert-success" *ngIf="message">
    {{ message }}
  </div>
  <form #formGroup="ngForm" action="" class="form text-light">
    <div class="form-group my-4">
      <label for="name" class="form-label">Name</label>
      <input
        #name="ngModel"
        [(ngModel)]="dish.name"
        type="text"
        placeholder="Dish's Name"
        name="name"
        class="form-control"
        required
      />
    </div>
    <div class="form-group my-4">
      <label for="Ingredients" class="form-label">Ingredients</label>
      <input
        #ingredients="ngModel"
        [(ngModel)]="dish.ingredients"
        type="text"
        placeholder="Dish's Ingredients"
        name="Ingredients"
        class="form-control"
        required
      />
    </div>
    <div class="form-group my-4">
      <label for="Image" class="form-label">Image</label>
      <input
        #image="ngModel"
        [(ngModel)]="dish.image"
        type="text"
        placeholder="Dish's Image URL"
        name="Image"
        class="form-control"
        required
      />
    </div>
    <div class="form-group my-4">
      <label for="price" class="form-label">price</label>
      <input
        #price="ngModel"
        [(ngModel)]="dish.price"
        type="text"
        placeholder="Dish's price"
        name="price"
        class="form-control"
        required
      />
    </div>
    <div class="form-group my-4">
      <label for="type" class="form-label">Type</label>
      <select
        #type="ngModel"
        [(ngModel)]="dish.type"
        name="type"
        class="form-control"
        required
        id=""
      >
        <option value="starter">starter</option>
        <option value="breakfast">breakfast</option>
        <option value="lunch">lunch</option>
        <option value="dinner">dinner</option>
      </select>
    </div>
    <div
      class="submit-btn"
      *ngIf="formGroup?.valid; then valid; else invalid"
    ></div>
  </form>
</div>
<ng-template #valid>
  <div class="text-center">
    <button (click)="Update()" class="btn btn-warning rounded">
      Update Dish
    </button>
    <a routerLink="/admin/menu/list" class="btn mx-4 btn-success">cancel</a>
  </div>
</ng-template>
<ng-template #invalid>
  <div class="text-center">
    <button class="btn btn-danger rounded" disabled>Fill out all fields</button>
    <a routerLink="/admin/menu/list" class="btn mx-4 btn-success">cancel</a>
  </div>
</ng-template>
