<admin-navbar></admin-navbar>
<form #formGroup="ngForm" class="mt-5">
  <div class="bg-dark rounded container text-light p-4">
    <div *ngIf="message" class="alert alert-success">
      {{ message }}
    </div>
    <div class="form-group">
      <label for="name" class="mt-3 form-label">Name</label>
      <input
        #chefName="ngModel"
        [(ngModel)]="chef.name"
        type="text"
        class="form-control"
        placeholder="Chef's name"
        name="name"
        id="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="role" class="mt-3 form-label">Role</label>
      <input
        #chefRole="ngModel"
        [(ngModel)]="chef.role"
        type="text"
        class="form-control"
        placeholder="Chef's role"
        name="role"
        required
      />
    </div>
    <div class="form-group">
      <label for="Image" class="mt-3 form-label">Image</label>
      <input
        #chefImage="ngModel"
        [(ngModel)]="chef.image"
        type="text"
        class="form-control"
        placeholder="image URL"
        name="Image"
        required
      />
    </div>
    <div class="form-group">
      <label for="description" class="mt-3 form-label">Description</label>
      <textarea
        #description="ngModel"
        [(ngModel)]="chef.description"
        name="description"
        class="form-control"
        placeholder="About the chef..."
        id=""
        cols="10"
        rows="5"
        required
      ></textarea>
    </div>
    <div class="add text-center">
      <div
        class="botn"
        *ngIf="formGroup.form.valid; then valid; else invalid"
      ></div>
      <a
        routerLink="/admin/chefs/list"
        class="rounded mt-3 mx-4 btn btn-secondary"
        >cancel</a
      >
    </div>
  </div>
</form>
<ng-template #valid>
  <button (click)="update()" class="btn btn-warning rounded mt-3">
    Update Chef
  </button>
</ng-template>
<ng-template #invalid>
  <button class="btn btn-danger rounded mt-3" disabled>
    Fill out all fields
  </button>
</ng-template>
